.nav-bar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.nav-bar li {
  margin: 0.5rem;
}

a {
  padding: 10px;
  background-color: burlywood;
  cursor: pointer;
}

.active,
li a:hover {
  background-color: blue;
  color: white;
}
