.nav-bar {
  margin-top: 30px;
  margin-bottom: 50px;
}

li {
  padding: 10px;
  display: inline;
}

a {
  padding: 10px;
  background-color: #b8f9ff;
  cursor: pointer;
}

.active,
li a:hover {
  background-color: #8aa0ff;
}
