<div *ngIf="!loading; else load">
  <table *ngIf="this.standingData; else noContent" class="standingTable">
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Games</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>Goal Difference</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let item of standingData">
      <td>
        {{ item.rank }}
      </td>
      <td>
        <img alt="no image" style="width: 20px" [src]="item.team.logo" />
      </td>
      <td class="detailLink" (click)="openDetailPage(item.team.id)">
        {{ item.team.name }}
      </td>
      <td>
        {{ item.all.played }}
      </td>
      <td>
        {{ item.all.win }}
      </td>
      <td>
        {{ item.all.lose }}
      </td>
      <td>
        {{ item.all.draw }}
      </td>
      <td>
        {{ item.goalsDiff }}
      </td>
      <td>
        {{ item.points }}
      </td>
    </tr>
  </table>
  <ng-template #noContent>no content available</ng-template>
</div>
<ng-template #load>content is loading...</ng-template>
